body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  padding: 20px;
}

h1 {
  color: #444;
}

.tabs {
  display: flex;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-right: 5px;
  background-color: #eee;
  border-radius: 5px 5px 0 0;
  transition: background-color 0.3s ease;
}

.tab.active {
  background-color: #fff;
  font-weight: bold;
  border-color: #aaa;
}

.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
}

.tab-content.active {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:last-child {
  border-bottom: none;
}

a {
  color: #007bff;
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s ease;
}

a:hover {
  color: #0056b3;
}

input[type='text'] {
  padding: 10px;
  width: 25%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

img {
  height: 30px;
  width: auto;
}
.credits {
  text-align: center;
  margin-top: 20px;
}
